.myButton{
  padding: 10px;
  width: 55px;
  background-color: lightgreen;
  color: black;
  border-radius: 5px;
}


.myInput{
  height: 35px;
  padding: 5px;
  border-radius: 6px;
  width: 200px;
}

.container{
  text-align:center;
}

#todo-item-list{
  width: 50%;
  margin: 0 auto;
  list-style: none;
}
#todo-item-list li{
  padding:20px;
}

#todo-item-list li label{
  float: left;
}


#todo-item-list li button{
  float: right;
}

#todo-item-list li button.myButton{
  background-color: orange;
}
